body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
}

a {
  text-decoration: none;
}

 ul {
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
 display: flex; /*так можно?*/
 width: 940px;
 align-items: center;
 margin: 0 auto;

 outline: 5px solid red;  /* временно */
}

.main-header {
  margin-bottom: 59px;
  font-size: 17px;
  background-color: #f4f7f9;
}

.main-header a {
  color: inherit;

  outline: 3px solid black;  /* временно */
}

.top-level {
  min-height: 42px;
  margin-bottom: 46px;
  background-color: #293449;

  outline: 3px solid yellow;  /* временно */
}

.container .header-navigation {
  display: flex;
}

.technomart-logo {
  width: 220px;
  height: 47px;
  box-shadow: 0px 5px 0 0  rgba(0, 0, 0, 0.24);
}

.technomart-logo img {
  padding: 13px 54px 16px 55px;
  background-color: #ee3643;
}

.technomart-logo img:hover,
.technomart-logo img:focus {
  background-color: #ca2c37;
}

.technomart-logo img:active {
  background-color: #ba2732;
}

.search {
  margin-left: 49px;
  background-color: transparent;
}

.search:hover,
.search:focus {
  background-color: #ffffff;
}

.search::before {
  content: "";
  position: relative;
  margin-right: 15px;
  background: url(../img/icon-search.svg);
}

.container-left {

  width: 433px;
  margin-left: auto;

  outline: 5px solid green;
}

.header-navigation-tools {
  display: flex;
  flex-basis: 100%;

  align-items: center;
  outline: 5px solid pink;
}

.header-navigation-order {
  background-color: #63a63e;
}

.header-navigation-order:hover,
.header-navigation-order:focus {
  background-color: #5fbb2d;
}

.header-navigation-order:active {
  background-color: #518534;
}

.header-navigation-favourites:hover,
.header-navigation-basket:hover  {
  background-color: #212a3a;
}

.header-navigation-favourites:focus,
.header-navigation-basket:focus {
  background-color: #212a3a;
}

.header-navigation-favourites:active,
.header-navigation-basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.color-change {
  background-color: #ee3643;
}

.middle-level {
  font-size: 21px;
  color: #ee3643;
}

.middle-level .container {
  display: flex;
}

.middle-level h1 {
  margin: 0;

  width: 196px;
  margin-top: 40px;
  margin-left: 53px;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
}

.header-contacts {
  width: 270px;
  margin-left: 71px;
  margin-right: 79px;
}

.header-contacts .phone-number {
  display: block;
  width: 144px;
  padding: 13px 52px 11px 74px;
}

.header-contacts .address {  /* не понимаю, как его выровнять по вышестоящему элементу*/
  height: 13px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  outline: 3px solid blue;
}

.user-block ul {
  display: flex;
}
.user-block a {
  color: #000000;
  background-color: #ffffff;
}

.user-block a:hover {
  color: #ee3643;
}

.user-block a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-login {
  width: 121px;
}

.user-block-registration {
  width: 150px;
}

.user-block-bottom {
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
}

.user-block-bottom a {
  background-color: #f4f7f9;
}

.user-block-bottom a:hover,
.user-block-bottom a:focus {
  color: #ee3643;
}

.user-block-bottom a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-header .bottom-level {
  font-size: 17px;
}

.site-navigation {
  display: flex;

  margin: 0px;
  padding: 0px;
}

.site-navigation a {
  display: block;
  padding: 22px 30px 26px;
  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.uppercase {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 13px;
  color: #000000;
}

.catalog-header {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

fieldset {
  border: none;
}

.filters {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.filters legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filters button {
  text-transform: inherit;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.item-price-old {
  text-decoration: line-through;
  color: #999999;
}

.item-price-new {
  color: #ffffff;
  background-color: #ee3643; /* временно */
}

.actions {
  font-size: 14px;
  line-height: 18px;
}

.buy {
  display: none; /* временно */
  color: inherit;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
}

.bookmark {
  display: none; /* временно */
  border: 3px solid #63a63e;
  color: #32425c;
}

.buy:hover,
.buy:focus {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.bookmark:hover,
.bookmark:focus {
  border: 3px solid #32425c;
  color: #32425c;
}

.buy:active {
  background-color: #518534;
}

.bookmark:active {
  border: 3px solid #32425c;
  opacity: 0.3;
  color: rgba(50, 66, 92, 0.3);
}

.about-company {
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.about-company h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p {
  font-family: "PT Sans", Arial, sans-serif;
}

.about-company ul {
  font-size: 18px;
  line-height: 20px;
}

.about-company-link {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.about-company-link:hover,
.about-company-link:focus {
  background-color: #ca2c37;
}

.about-company-link:active {
  background-color: #ba2732;
}

.main-contacts {
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.main-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-contacts p {
  font-family: "PT Sans", Arial, sans-serif;
}

.main-contacts-write {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.main-contacts-write:hover,
.main-contacts-write:focus {
  background-color: #ca2c37;
}

.main-contacts-write:active {
  background-color: #ba2732;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.main-footer a {
  font: inherit;
  color: #f1f5f7;
  background-color: #32425c;
}

.footer-catalog-navigation a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-catalog-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus,
.footer-catalog-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
  color: rgba(241, 245, 247, 0.5);
}

.footer-catalog-navigation a:active {
  opacity: 0.5;
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom-level,
.footer-bottom-level a {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.social a {
  background-color: #212a3a;
}

.social a:hover,
.social a:focus,
.social a:active {
  background-color: #ee3643;
}

.footer-feedback a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus {
  text-decoration: underline;
}

.footer-feedback a:active {
  color: #ee3643;
}

.modal {
  display: none;
}









