body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
}

a {
  text-decoration: none;
}

 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
 width: 940px;
 margin: 0 auto;
}

.main-header {
  margin-bottom: 59px;
  font-size: 17px;
  background-color: #f4f7f9;
}

.main-header a {
  color: inherit;
}

.header-top-level {
  margin: 0;
  padding: 0;

  margin-bottom: 46px;
  background-color: #293449;
}

.header-top-level .container {
  display: flex;
}

.technomart-logo {
  width: 220px;
  height: 42px;
  display: flex;
  justify-content: center;
  background-color: #ee3643;
  align-items: center;
  box-shadow: 0px 5px 0 0  #ba2732;
}

.technomart-logo:hover,
.technomart-logo:focus {
  background-color: #ca2c37;
}

.technomart-logo:active {
  background-color: #ba2732;
}

.header-navigation-tools form {
  width: 270px;
  box-sizing: border-box;
}

.search {
  height: 42px;
  position: relative;
  margin-left: 49px;
  border: none;
  background-color: transparent;
}

.search::placeholder {
  color: #ffffff;
}

.search:hover {
  background-color: #212a3a;
}

.search:active,
.search:focus {
  background-color: #ffffff;
}

.search::before {
  content: "";
  position: absolute;
  margin-right: 15px;
  background: url(../img/icon-search.svg);
}

.header-navigation-tools {
  display: flex;
  align-items: flex-start;
}

.header-navigation-tools a {
  width: 150px;
  padding: 14px 5px;
  text-align: center;
  box-sizing: border-box;
  word-wrap: break-word;
}

.header-navigation-order {
  background-color: #63a63e;
}

.header-navigation-order:hover,
.header-navigation-order:focus {
  background-color: #5fbb2d;
}

.header-navigation-order:active {
  background-color: #518534;
}

.header-navigation-favourites:hover,
.header-navigation-basket:hover  {
  background-color: #212a3a;
}

.header-navigation-favourites:focus,
.header-navigation-basket:focus {
  background-color: #212a3a;
}

.header-navigation-favourites:active,
.header-navigation-basket:active {
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.color-change {
  background-color: #ee3643;
}

.header-middle-level {
  font-size: 21px;
  margin-bottom: 44px;
  color: #ee3643;
}

.header-middle-level .container {
  display: flex;
}

.header-middle-level h1 {
  margin: 0;

  width: 205px;
  padding-left: 53px;

  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  background-color: #f4f7f9;
}

.header-contacts {
  margin: 0;
  margin-left: auto;
}

.header-contacts .phone-number {
  display: block;
  width: 270px;
  padding: 10px 10px 10px 60px;
  border: solid 3px #ffffff;
  box-sizing: border-box;
}

.header-contacts .address {
  width: 270px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.user-block {
  display: flex;
  width: 281px;
  margin-left: auto;
}

.user-block ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.user-block a {
  display: block;
  padding-top: 14px;
  color: #000000;
}

.user-block a:hover {
  color: #ee3643;
}

.user-block a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-login a {
  width: 121px;
  min-height: 45px;
  padding: 14px;  
  padding-left: 48px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.user-block-registration a {
  width: 150px;  
  min-height: 45px;
  padding: 14px; 
  padding-left: 25px;
  margin-left: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.user-block-bottom {
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
}

.user-block-bottom a {
  background-color: #f4f7f9;
}

.user-block-bottom a:hover,
.user-block-bottom a:focus {
  color: #ee3643;
}

.user-block-bottom a:active {
  opacity: 0.3;
  color: rgba(50, 66, 92, 0.3);
}

.header-bottom-level {
  font-size: 17px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 5px 0 0 #293449;
  background-color: #32425c;
}

.site-navigation a {
  display: block;
  padding: 22px 31px 21px;
  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.uppercase {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 13px;
  color: #000000;
}

.catalog-header {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

fieldset {
  border: none;
}

.filters {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.filters legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filters button {
  text-transform: inherit;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.item-price-old {
  text-decoration: line-through;
  color: #999999;
}

.item-price-new {
  color: #ffffff;
  background-color: #ee3643; /* временно */
}

.actions {
  font-size: 14px;
  line-height: 18px;
}

.buy {
  display: none; /* временно */
  color: inherit;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
}

.bookmark {
  display: none; /* временно */
  border: 3px solid #63a63e;
  color: #32425c;
}

.buy:hover,
.buy:focus {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.bookmark:hover,
.bookmark:focus {
  border: 3px solid #32425c;
  color: #32425c;
}

.buy:active {
  background-color: #518534;
}

.bookmark:active {
  border: 3px solid #32425c;
  opacity: 0.3;
  color: rgba(50, 66, 92, 0.3);
}

.main-bottom h2,
.main-cbottom a,
.main-bottom p,
.main-bottom ul {
  padding: 0;
  margin: 0;
}

.main-bottom .container {
  display: flex;
  margin-bottom: 86px;
  /*justify-content: space-between;*/
}

.main-bottom a {
  display: block;
}

.main-bottom h2 {
  /*margin-top: 20px;*/
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company {
  display: flex;
  flex-direction: column;
  width: 519px;
  min-height: 368px;

  margin-right: 121px;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.about-company p {
  font-family: "PT Sans", Arial, sans-serif;
  margin-top: 25px;
}

.about-company ul {
  padding: 0;
  margin: 0;
  margin-top: 19px; 
  font-size: 18px;
  line-height: 20px;
}

.about-company li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  vertical-align: middle;
  background: #ee3643;
}

.about-company li {
  margin-bottom: 20px;
}

.about-company a {
  width: 220px;
  margin-top: auto;
}

.main-contacts-map {
  margin-bottom: 36px;
}

.main-bottom-link {
  padding: 7px 0;  
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.main-bottom-link:hover,
.main-bottom-link:focus {
  background-color: #ca2c37;
}

.main-bottom-link:active {
  background-color: #ba2732;
}

.main-contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 368px;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.main-contacts p {
  width: 179px;
  margin: 25px 0;
  font-family: "PT Sans", Arial, sans-serif;
}

.main-contacts a {  
  margin-top: auto;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.main-footer ul,
.main-footer a,
.main-footer h2,
.main-footer p {
  margin: 0;
  padding: 0;
}

.main-footer a {
  font: inherit;
  color: #f1f5f7;
  background-color: #32425c;
}

.main-footer .technomart-logo {
  height: 63px;
  background-color: #ee3643;
}

.main-footer .technomart-logo:hover,
.main-footer .technomart-logo:focus {
  background-color: #ca2c37;
}

.main-footer .technomart-logo:active {
  background-color: #ba2732;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 330px;
  margin-top: 33px;
}

.right-column {    
  margin-left: auto; 
}

.footer-navigation {  
  display: flex;  
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-navigation a {
  display: block;
  max-width: 131px;
  padding-top: 35px;
  padding-bottom: 39px; 
  word-wrap: break-word;    
}

.footer-navigation li:first-child {
  margin-left: 41px;
}

.footer-catalog-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  padding-left: auto;
}

.footer-catalog-navigation a {
  display: block;
  max-width: 131px;
  text-align: center;  
  padding: 0 0 69px 60px;
  color: #ffd180;  
  word-wrap: break-word;  
}

.footer-navigation a:hover,
.footer-catalog-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus,
.footer-catalog-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
  color: rgba(241, 245, 247, 0.5);
}

.footer-catalog-navigation a:active {
  opacity: 0.5;
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom-level {
  display: flex;
}

.footer-bottom-level .container {
  padding-top: 39px;
  padding-bottom: 34px;
}

.footer-bottom-level,
.footer-bottom-level a {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer-copyright {
  width: 227px;
}

.footer-copyright::before {
  content: "@";
}

.footer-social {
  width: 129px;
  margin-left: 162px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social a {
  display: inline-block;
  background-color: #212a3a;
  border-radius: 50%;
}

.social a:hover,
.social a:focus,
.social a:active {
  background-color: #ee3643;
}

.social-button {
  width: 41px;
  height: 42px;
  margin-left: 3px;
}

.social-button-vk {
  background: url(../img/vk-icon.svg) no-repeat 50% 50%;
}

.social-button-fb {
  background: url(../img/fb-icon.svg) no-repeat 50% 50%;
}

.social-button-insta {
  background: url(../img/insta-icon.svg) no-repeat 50% 50%;
}

.footer-feedback {
  display: flex;
}

.footer-feedback a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus {
  text-decoration: underline;
}

.footer-feedback a:active {
  color: #ee3643;
}

.feedback {
  width: 135px;
  margin-left: 119px;
}

.developer {
  width: 96px;
  margin-left: 53px;
}

.modal {
  display: none;
}









