body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
}

a {
  text-decoration: none;
}

 ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  font-size: 17px;
  background-color: #f4f7f9;
}

.main-header a {
  color: inherit;
}

.technomart-logo {
  background-color: #ee3643;
}

.main-header .top-level {
  background-color: #293449;
}

.search {
  background-color: transparent;
}

.header-navigation-order {
  background-color: #63a63e;
}

.technomart-logo:hover {
  background-color: #ca2c37
}

.header-navigation-favourites:hover,
.header-navigation-basket:hover  {
  background-color: #212a3a;
}

.header-navigation-order:hover  {
  background-color: #5fbb2d;
}

.technomart-logo:focus  {
  background-color: #ca2c37;
}

.search:focus {
  background-color: #ffffff;
}

.header-navigation-favourites:focus,
.header-navigation-basket:focus {
  background-color: #212a3a;
}

.header-navigation-order:focus {
  background-color: #5fbb2d;
}

.header-navigation-favourites:active,
.header-navigation-basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.technomart-logo:active {
  background-color: #ba2732;
  }

.header-navigation-order:active {
  background-color: #518534;
}

.middle-level {
  font-size: 21px;
  color: #ee3643;
}

.middle-level a {
  color: inherit;
}

.middle-level h1 {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.middle-level .address {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-block a {
  color: #000000;
}

.user-block a:hover {
  color: #ee3643;
}

.user-block a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-bottom {
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
}

.user-block-bottom a:hover,
.user-block-bottom a:focus {
  color: #ee3643;
}

.user-block-bottom a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-header .bottom-level {
  font-size: 17px;
  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.uppercase {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
}

.breadcrumbs a {
  color: inherit;
}

.catalog-header {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

form fieldset {
  border: none;
}

form.filter {
  font-size: 15px;
  line-height: 20px;
}

form.filter legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}


form.filter button {
  text-transform: inherit;
  font-size: 13px;
  text-align: center;
}

section.catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  font-weight: 700;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.item-price-old {
  text-decoration: line-through;
  color: #999999;
}

.item-price-new {
  color: #ffffff;
}

.actions {
  font-size: 14px;
  line-height: 18px;
}

.buy {
  color: inherit;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
}

.bookmark {
  border: 3px solid #63a63e;
  color: #32425c;
}

.buy:hover,
.buy:focus {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.bookmark:hover,
.bookmark:focus {
  border: 3px solid #32425c;
  color: #32425c;
}

.buy:active {
  background-color: #518534;
}

.bookmark:active {
  border: 3px solid #32425c;
  opacity: 0.3;
  color: rgba(50, 66, 92, 0.3);
}

.about-company {
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.about-company h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p {
  font-family: "PT Sans", Arial, sans-serif;
}

.about-company ul {
  font-size: 18px;
  line-height: 20px;
}

.about-company-link {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.about-company-link:hover,
.about-company-link:focus {
  background-color: #ca2c37;
}

.about-company-link:active {
  background-color: #ba2732;
}

.main-contacts {
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.main-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-contacts p {
  font-family: "PT Sans", Arial, sans-serif;
}

.main-contacts-write {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.main-contacts-write:hover,
.main-contacts-write:focus {
  background-color: #ca2c37;
}

.main-contacts-write:active {
  background-color: #ba2732;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.main-footer a {
  font: inherit;
  color: #f1f5f7;
  background-color: #32425c;
}

.footer-catalog-navigation a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-catalog-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus,
.footer-catalog-navigation a:focus {
  text-decoration: underline;
}


.footer-navigation a:active {
  opacity: 0.5;
  color: rgba(241, 245, 247, 0.5);
}

.footer-catalog-navigation a:active {
  opacity: 0.5;
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom-level,
.footer-bottom-level a {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.social a {
  background-color: #212a3a;
}

.social a:hover,
.social a:focus,
.social a:active {
  background-color: #ee3643;
}

.footer-feedback a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus {
  text-decoration: underline;
}

.footer-feedback a:active {
  color: #ee3643;
}

.modal {
  display: none;
}

