body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
}

a {
  text-decoration: none;
}

 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
 width: 940px;
 margin: 0 auto;
}

.main-header {
  padding-bottom: 59px;
  font-size: 17px;
  background-color: #f4f7f9;
  margin-bottom: 25px;
}

.catalog-header {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.main-header a {
  color: inherit;
}

.header-top-level {
  margin: 0;
  padding: 0;

  margin-bottom: 46px;
  background-color: #293449;
}

.header-top-level .container {
  display: flex;
}

.technomart-logo {
  width: 220px;
  height: 42px;
  display: flex;
  justify-content: center;
  background-color: #ee3643;
  align-items: center;
  box-shadow: 0px 5px 0 0  #ba2732;
}

.technomart-logo:hover,
.technomart-logo:focus {
  background-color: #ca2c37;
}

.technomart-logo:active {
  background-color: #ba2732;
}

.header-navigation-tools form {
  width: 270px;
  box-sizing: border-box;
}

.search {
  height: 42px;
  position: relative;
  margin-left: 49px;
  border: none;
  background-color: transparent;
}

.search::placeholder {
  color: #ffffff;
}

.search:hover {
  background-color: #212a3a;
}

.search:active,
.search:focus {
  background-color: #ffffff;
}

.header-navigation-tools form::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 25px;

  width: 17px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-navigation-tools {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.header-navigation-tools a {
  display: block;
  width: 150px;
  padding: 14px 5px;
  text-align: center;
  box-sizing: border-box;
  word-wrap: break-word;
}

.header-navigation-tools {
  position: relative;
}

.header-navigation-basket::before {
  content: "";
  position: absolute;
  left: 430px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-navigation-favourites::before {
  content: "";
  position: absolute;
  left: 280px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-navigation-order {
  background-color: #63a63e;
}

.header-navigation-order:hover,
.header-navigation-order:focus {
  background-color: #5fbb2d;
}

.header-navigation-order:active {
  background-color: #518534;
}

.header-navigation-favourites:hover,
.header-navigation-basket:hover  {
  background-color: #212a3a;
}

.header-navigation-favourites:focus,
.header-navigation-basket:focus {
  background-color: #212a3a;
}

.header-navigation-favourites:active,
.header-navigation-basket:active {
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.color-change {
  background-color: #ee3643;
}

.header-middle-level {
  font-size: 21px;
  margin-bottom: 44px;
  color: #ee3643;
}

.header-middle-level .container {
  display: flex;
}

.header-middle-level h1 {
  margin: 0;
  padding: 0;
}

.header-middle-level .h1 {
  margin: 0;

  width: 198px;
  padding-left: 53px;

  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  background-color: #f4f7f9;
}

.header-contacts {
  position: relative;
  margin: 0;
  margin-left: 71px;
}

.index .header-contacts {
  margin-left: auto;
}

.header-contacts .phone-number {
  display: block;
  width: 270px;
  padding: 10px 10px 10px 60px;
  border: solid 3px #ffffff;
  box-sizing: border-box;
}

.header-contacts .phone-number::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 25px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-contacts .address {
  width: 270px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
  box-sizing: border-box;
}

.user-block {
  display: flex;
  width: 281px;
  margin-left: auto;
}

.user-block-catalog {
  width: 299px;
  margin-left: auto;
}

.user-block-catalog a {
  display: block;
}

.user-block-top {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.main-header .user-block-top-profile {
  width: 230px;
  padding: 13px 0 11px;
  line-height: 21px;
  text-align: right;
  color: #000000;
  background-color: #ffffff;
}

.user-block-list a {
  color: #000000;
}

.user-block-list {
  display: flex;

  justify-content: space-between;
  margin-left: 69px;
}

.user-block-top-exit {
  position: relative;
  width: 69px;
  height: 45px;
}

.user-block-top-exit::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 35px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-block-top-exit::before {
  content: "";
  position: absolute;
  top: 14px;
  left: -213px;
  width: 20px;
  height: 18px;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-block-top-exit::after:hover,
.user-block-top-exit::after:focus {
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  opacity: 1;
}

.user-block-top-profile:hover {
  color: #000000;
}

.user-block-top-profile:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-login {
  position: relative;
  display: block;
  width: 121px;
  min-height: 45px;
  padding: 14px 0 14px 47px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.user-block-login::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 20px;
  height: 17px;
  background-image: url("..img/icon-login.svg");
  background-repeat: no-repeat;
  background-color: #c5c5c5;
}

.user-block-registration {
  display: block;
  width: 150px;
  min-height: 45px;
  padding: 14px 0 14px 15px;
  margin-left: 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
}

.user-block-bottom {
  display: flex;
  width: 250px;
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
}

.user-block-bottom a {
  display: block;
  padding: 10px 15px 0 15px;
  background-color: #f4f7f9;
}

.user-block-bottom a:hover,
.user-block-bottom a:focus,
.user-block-list a:hover,
.user-block-list a:focus {
  color: #ee3643;
}

.user-block-bottom a:active,
.user-block-list a:active {
  opacity: 0.3;
  color: rgba(50, 66, 92, 0.3);
}

.user-block-bottom-profile {
  position: relative;
}

.user-block-bottom-profile::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -3px;
  width: 4px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
}

.header-bottom-level {
  font-size: 17px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 5px 0 0 #293449;
  background-color: #32425c;
}

.site-navigation a {
  display: block;
  padding: 22px 31px 21px;
  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.uppercase {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
}

.equipment-item,
.sales,
.delievery {
  width: 300px;
  height: 123px;
}

.equipment-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.position {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.equipment-list a,
.other a {
  display: block;
  width: 135px;
  min-height: 38px;
  margin-left: 25px;
  padding: 9px 22px 11px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  background-color: #000000;
  opacity: 0.1;
}

.equipment-list h2,
.other h2 {
  margin: 0;
  padding: 24px 0 14px 23px;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}

.equipment-item-drills {
  width: 620px;
  height: 266px;
  background: url("../img/drills-index.png");
}

.equipment-item-drills h2 {
  padding: 0;
  margin: 0;
  padding: 27px 0 10px 24px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.equipment-item-drills a {
  padding-left: 24px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.equipment-item-materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-paint.svg");
  background-repeat: no-repeat;
  background-position: 80%;
}

.equipment-item-instruments {
  background-color: #3bbce3;
  background-image: url("../img/icon-drill.svg");
  background-repeat: no-repeat;
  background-position: 85%;
}

.equipment-item-technics {
  background-color: #dc91d8;
  background-image: url("../img/icon-tractor.svg");
  background-repeat: no-repeat;
  background-position: 85%;
}

.sales {
  background-color: #8ed78f;
  margin-bottom: 20px;
  background-image: url("../img/icon-trolley.svg");
  background-repeat: no-repeat;
  background-position: 85%;
}

.delievery {
  background-color: #ffc047;
  background-image: url("../img/icon-car.svg");
  background-repeat: no-repeat;
  background-position: 85%;
}

.catalog {
  width: 700px;
  margin-left: 21px;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 13px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 39px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -25px;
  width: 8px;
  height: 12px;
  background: url("../img/icon-right-small.svg");
}

.inner-page .catalog-header {
  padding: 29px 30px 31px 30px;
  margin: 0;
  margin-bottom: 54px;
  font-size: 30px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

fieldset,
legend {
  border: none;
  margin: 0;
  padding: 0;
}

.filters {
  width: 200px;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.range-controls {
  position: relative;
  width: 220px;
  height: 80px;
  padding-top: 39px;
  padding-left: 20px;
  margin-top: 21px;
  margin-bottom: 9px;
  box-sizing: border-box;

  background-color: #f7f3ec;
}

.range-controls .scale {
  width: 180px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 84%;
  height: 2px;
  background: #63a63e;
}

.range-toggle {
  position: absolute;
  top: 27px;

  width: 20px;
  height: 22px;
  background: url("../img/filter-button.svg");
}

.range-toggle-min {
  left: 5%;
}

.range-toggle-max {
  left: 75%;
}

.price-controls {
  position: relative;
  border-bottom: 1px solid grey;
}

.price-controls label {
  display: inline-block;
  margin-bottom: 25px;
}

.price-controls input {
  width: 95px;
  height: 38px;
  color: inherit;
  font: inherit;
  text-align: center;

  background: none;
  border: none;
}

.price-controls .min-price,
.price-controls .max-price {
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #f7f3ec;
}

.price-controls .min-price {
  margin-right: 25px;
}

.filters legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filters h2 {
  width: 220px;
  padding: 14px 0 15px 18px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #f7f3ec;
}

.filter-producers {
  position: relative;
  margin-top: 25px;
  margin-bottom: 26px;
  border-bottom: 1px solid #c5c5c5;
}

.filter-chargers {
  margin-top: 27px;
  margin-bottom: 83px;
}

.filters li {
  padding-bottom: 24px;
}

.filter-option {
  padding-left: 45px;
}

.filter-option label {
  position: relative;
  display: block;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 27px;
  height: 25px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 27px;
  height: 25px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.producers {
  margin-top: 25px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 27px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 27px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.filters button {
  width: 140px;
  min-height: 38px;
  text-transform: inherit;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 218px;
  border: solid 1px #e5e5e5;
  padding-bottom: 21px;
  margin-bottom: 21px;
  align-items: center;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url(../img/new-flag.jpg) no-repeat 0 0;
}

.catalog-item a {
  margin-bottom: auto;
}

.catalog-item img {
  margin-bottom: 12px;
}

.catalog-item-title {
  margin: 0 34px 0 33px;
  padding-bottom: 18px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.item-price {
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
}

.item-price-old {
  padding-bottom: 13px;
  text-decoration: line-through;
  color: #999999;
}

.item-price-new {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
  background: url(../img/btn-copy-14.svg) center no-repeat;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 60px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
  font-size: 14px;
  line-height: 18px;
}

.buy {
  color: inherit;
}

.bookmark {
  color: #32425c;
  background: white;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.catalog-item .actions {
  display: none;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item:hover .actions {
  display: block;
}

.buy:hover,
.buy:focus {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.bookmark:hover,
.bookmark:focus {
  border: 3px solid #32425c;
  color: #32425c;
}

.buy:active {
  background-color: #518534;
}

.bookmark:active {
  border: 3px solid #32425c;
  opacity: 0.3;
  color: rgba(50, 66, 92, 0.3);
}

.popular-producers h2,
.popular-goods h2 {
  padding: 33px 0 35px 30px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #32425c;
  background-color: #f9f5f0;
}

.popular-producers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;
}

.popular-producer-item{
  display: flex;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: solid 1px #eaeaea;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.popular-producers h2>a,
.popular-goods h2>a {
  display: inline-block;
  width: 253px;
  padding: 10px 0;
  margin-left: 269px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  background-color: #ee3643;
}

.main-bottom h2,
.main-cbottom a,
.main-bottom p,
.main-bottom ul {
  padding: 0;
  margin: 0;
}

.main-bottom .container {
  display: flex;
  margin-bottom: 86px;
}

.main-bottom a {
  display: block;
}

.main-bottom h2 {
  /*margin-top: 20px;*/
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company {
  display: flex;
  flex-direction: column;
  width: 519px;
  min-height: 368px;

  margin-right: 121px;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.about-company p {
  font-family: "PT Sans", Arial, sans-serif;
  margin-top: 25px;
}

.about-company ul {
  padding: 0;
  margin: 0;
  margin-top: 19px;
  font-size: 18px;
  line-height: 20px;
}

.about-company li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  vertical-align: middle;
  background: #ee3643;
}

.about-company li {
  margin-bottom: 20px;
}

.about-company a {
  width: 220px;
  margin-top: auto;
}

.main-contacts-map {
  margin-bottom: 36px;
}

.main-bottom-link {
  padding: 7px 0;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.main-bottom-link:hover,
.main-bottom-link:focus {
  background-color: #ca2c37;
}

.main-bottom-link:active {
  background-color: #ba2732;
}

.main-contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 368px;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.main-contacts p {
  width: 179px;
  margin: 25px 0;
  font-family: "PT Sans", Arial, sans-serif;
}

.main-contacts a {
  margin-top: auto;
}

.inner-main-bottom {
  padding-top: 67px;
  padding-bottom: 73px;
  color: #000000;
  background-color: #f4f7f9;
}

.about-drills h2 {
  margin: 0;
  margin-bottom: 31px;
  text-transform: uppercase;
}

.about-drills p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.pagination {
  margin-top: 31px;
  margin-bottom: 60px;
  margin-left: 240px;
}

.pagination a {
  display: inline-block;
  min-width: 38px;
  padding: 9px 15px 9px 14px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  box-sizing: border-box;

  border: solid 1px #e5e5e5;
}


.main-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.main-footer ul,
.main-footer a,
.main-footer h2,
.main-footer p {
  margin: 0;
  padding: 0;
}

.main-footer a {
  color: inherit;
  background-color: #32425c;
}

.main-footer .technomart-logo {
  height: 63px;
  background-color: #ee3643;
}

.main-footer .technomart-logo:hover,
.main-footer .technomart-logo:focus {
  background-color: #ca2c37;
}

.main-footer .technomart-logo:active {
  background-color: #ba2732;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 330px;
  margin-top: 33px;
}

.right-column {
  margin-left: auto;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-navigation a {
  display: block;
  max-width: 131px;
  padding-top: 35px;
  padding-bottom: 39px;
  word-wrap: break-word;
}

.footer-navigation li:first-child {
  margin-left: 41px;
}

.footer-catalog-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-catalog-navigation a {
  display: block;
  max-width: 131px;
  text-align: center;
  padding: 0 0 69px 60px;
  color: #ffd180;
  word-wrap: break-word;
}

.footer-navigation a:hover,
.footer-catalog-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus,
.footer-catalog-navigation a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  opacity: 0.5;
  color: rgba(241, 245, 247, 0.5);
}

.footer-catalog-navigation a:active {
  opacity: 0.5;
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom-level {
  display: flex;
}

.footer-bottom-level .container {
  padding-top: 39px;
  padding-bottom: 34px;
}

.footer-bottom-level,
.footer-bottom-level a {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer-copyright {
  width: 227px;
}

.footer-social {
  width: 129px;
  margin-left: 162px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social a {
  display: inline-block;
  background-color: #212a3a;
  border-radius: 50%;
}

.social a:hover,
.social a:focus,
.social a:active {
  background-color: #ee3643;
}

.social-button {
  width: 41px;
  height: 42px;
  margin-left: 3px;
}

.social-button-vk {
  background: url(../img/vk-icon.svg) no-repeat 50% 50%;
}

.social-button-fb {
  background: url(../img/fb-icon.svg) no-repeat 50% 50%;
}

.social-button-insta {
  background: url(../img/insta-icon.svg) no-repeat 50% 50%;
}

.footer-feedback {
  display: flex;
}

.footer-feedback a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-feedback a:focus {
  text-decoration: underline;
}

.footer-feedback a:active {
  color: #ee3643;
}

.feedback {
  width: 135px;
  margin-left: 119px;
}

.developer {
  width: 96px;
  margin-left: 53px;
}

.modal {
  display: none;
}

.modal-feedback {
  width: 620px;
  height: 430px;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}









