body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;   
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; 
  color: #ffffff;
}

a {  
  text-decoration: none;
}

 .user-block,
 .site-navigation {
  list-style: none;
}

.main-header {
  font-size: 17px;  
  text-align: left;
  color: #ffffff;
  background-color: #f4f7f9;
}

.main-header .top-level,
.search {
  line-height: 1.06;   
  background-color: #293449;
}

.main-header .top-level a:hover,
.search:hover {
  background-color: #212a3a;
}

.main-header .top-level a:focus {
  background-color: #161d29;
}

.search:focus {
  background-color: #ffffff;
}

.technomart-logo {  
  background-color: #ee3643;
}

.technomart-logo:hover {
  background-color: #ca2c37;
  }

.technomart-logo:focus {
  background-color: #ba2732;
  }

.header-navigation-order {
  background-color: #63a63e;
}

.header-navigation-order:hover {
  background-color: #5fbb2d;
}

.header-navigation-order:focus {
  background-color: #518534;
}

.main-header .middle-level {
  font-size: 21px;    
}

.middle-level h1 {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;  
  color: #ee3643;
}

.middle-level .phone-number {
  color: #ee3643;
}

.middle-level .address {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
}

.middle-level a {
  color: #000000;
}

.middle-level a:hover {
  color: #ee3643;
}

.middle-level a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-header .bottom-level {
  font-size: 17px;
  background-color: #32425c;
}

.main-header .top-level a,
.main-header .bottom-level a {
  color: #ffffff;
}


/*

.main-footer {
  font-size: 18px;
  line-height: 1.33;
  color: #f3f7f9;
  background-color: #32425c;
}

.footer-navigation a {
   color: #f3f7f9;
}


.footer-catalog-navigation a,
.footer-copyright a {
  color: #ffd180;

}

.footer-copyright {
  background-color: #293449;
}

*/
.modal {
  display: none;
}

